/* CSS Document */

body{
	font-family: "Segoe UI Light";
	font-size:17px;
	color: #333; 
}

a:link, 
a:visited{
	color: #000;
	text-decoration: none;
}

a:hover {
	color: #F00; 
	text-decoration: underline;
}

.archive {
	border-bottom: 2px solid #999;
	margin-bottom: 2px;	
}

article.post{
	border-bottom:2px dotted #bbbbbb;
}

article.post2{
	border-bottom:none;
}

#comment{
	height:120px;
	width:100%;	
}

#comments a:hover{
	text-decoration:underline;
}

.post2 img{
	height:100%;
	width:100%;	
}

.iframe-flexible-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
}

.iframe-flexible-container iframe,   
.iframe-flexible-container object,  
.iframe-flexible-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#judul{
	text-decoration: none; 
}

#judul a:hover {
	text-decoration: none; 
	color: #F00;
}

p{
	line-height:1cm;
}

/* General Layout Post Article */

div.contain{
	max-width: 920px;
	margin: 0 auto;
	padding-left: 20px;
	padding-right: 20px;
}

/*header*/

.site-header{
}

/*footer*/
	
.site-footer{
	margin-top: 30px;
	border-top:	 2px solid #999;
	background: #000;
}

#share-buttonsMain img {
width: 35px;
padding: 5px;
border: 0;
box-shadow: 0;
display: inline;
}
#share-buttonsMain a{
	text-decoration:none;
}
#share-buttons img {
width: 35px;
padding: 5px;
border: 0;
box-shadow: 0;
display: inline;
}

#share-buttons a{
	text-decoration:none;
}

#share-buttons:before{
	content: "\f237";
}

img.map, map area{
    outline: none;
}

/*Navigation Menus*/
.site-nav ul {
	margin: 0;
	padding: 0;
}

.site-nav ul : before, 
.site-nav ul:after { 
	content: ""; 
	display: table;
}

.site-nav ul : after { 
	clear: both;
}

.site-nav ul {
	*zoom: 1;
}

.site-nav ul li {
	list-style: none;
	float: left;
	padding:3px;
}

.site-nav {
	float:right;
}

.site-nav ul li a:link,
.site-nav ul li a:visited {
	display: block;
}

.site-nav ul li a:hover{
	color:#FF0000;
	display:block;
}
/* Site Header Menu */

.site-header nav {
	margin-top: 30px;
    left: 0;
    top: 0;
    width: 100%;
}
.site-header nav ul{
	display: block;
	width:100%;
	height: 35px;
	background: #06C;
}

.site-header nav ul li{
	margin-right: 5px;	
}

.site-header nav ul li a:link,
.site-header nav ul li a:visited {
	display : block;
	padding: 10px 18px;
	color: #FFF; 
	text-decoration: none; 
}

.site-header nav ul li a:hover {
	color: #F00;  
}

.site-header nav ul li.current-menu-item a:link,
.site-header nav ul li.current-menu-item a:visited,
.site-header nav ul li.current-page-ancestor a:link,
.site-header nav ul li.current-page-ancestor a:visited {
	font-weight: bold;
	background-color: #006ec3;
	color: #F00; 
}

/* Footer Menu*/
.site-footer nav ul li {
	margin-right: 10px;
	padding-right:: 10px;
}

/*pagation */
.halaman {
	clear:both;
	padding:20px 0;
	position:relative;
	font-size:11px;
	line-height:13px;
}

.halaman span, 
.halaman a {
	display:block;
	float:left;
	margin: 2px 2px 2px 0;
	padding:6px 9px 5px 9px;
	text-decoration:none;
	width:auto;
	color:#fff;
	background: #555;
}

.halaman a:hover{
	color:#F00;
	background: #3279BB;
}

.halaman 
.current{
	padding:6px 9px 5px 9px;
	background: #3279BB;
	color:#F00;
}

/*article nav */
.article-nav{
	width:100%;
	display:table;
}
.left{
	float:left;
	width:30%;
}
.left .left1{
	text-align:center;
	font-weight:bold;
}
.left .left2{
	text-align:justify;
	position:relative;
}
.right{
	float:right;
	width:30%;
}
.right .right1{
	text-align:center;
	font-weight:bold;
}
.right .right2{
	text-align:justify;
	position:relative;
}
/*---end article nav---*/

/*Copyright */
.copy {
	text-align:center;
	color: white;
	width:100%; 
	background: black;
	padding-top: 30px;
	padding-bottom: 30px;
}

/* see more*/

.featuredImg img{	
	width:100%;
	height:230px;
}

.featuredImg2 img{	
	width:100%;
	height:100%;
}

.view-full-post-btn{
  display:inline;
  /*border-radius*/
  -webkit-border-radius:10px;
     -moz-border-radius:10px;
          border-radius:10px;
  padding:8px 16px;
  margin-top:10px;
  color:#454545;
  border:1px solid #d8dcdc;
  font-family:"Segoe UI Light";
  font-style:italic;
  font-size:16px;
}
.view-full-post-btn:hover{
  background:#3C8DC5;
  /*transition*/
  -webkit-transition:all .3s ease;
  -moz-transition:all .3s ease;
  -o-transition:all .3s ease;
          transition:all .3s ease;
  border:1px solid #000000;
  color:#F00;
}

.entry-time:before {
	content: "\f145"; /* dashicons-calendar */
}

.entry-author:before {
	content: "\f110"; /* dashicons-admin-users */
}

.entry-comments-link:before {
	content: "\f101"; /* dashicons-admin-comments */
}

.entry-categories:before {
	content: "\f318"; /* dashicons-category */
}

.entry-tags:before {
	content: "\f323"; /* dashicons-tag */
}

.entry-time:before,
.entry-author:before,
.entry-comments-link:before,
.entry-categories:before,
.entry-tags:before, 
#share-buttons:before{
	color: #f15123; 
	display: inline-block;
	-webkit-font-smoothing: antialiased;
	font: normal 17px/1 'dashicons';
	vertical-align: middle;
	margin-right: 2px;

}

