
@font-face {
	font-family:Gotham;
	src:url(../fonts/Gotham-Book.eot);
	src:url(../fonts/Gotham-Book.eot?#iefix) format('embedded-opentype'),
		url(../fonts/Gotham-Book.woff) format('woff'),
		url(../fonts/Gotham-Book.ttf) format('truetype');
	font-weight:400;
	font-style:normal
}
@font-face {
	font-family:Gotham;
	src:url(../fonts/Gotham-Medium.eot);
	src:url(../fonts/Gotham-Medium.eot?#iefix) format('embedded-opentype'),
		url(../fonts/Gotham-Medium.woff) format('woff'),
		url(../fonts/Gotham-Medium.ttf) format('truetype');
	font-weight:500;
	font-style:normal
}
@font-face {
	font-family:Gotham;
	src:url(../fonts/Gotham-Bold.eot);
	src:url(../fonts/Gotham-Bold.eot?#iefix) format('embedded-opentype'),
		url(../fonts/Gotham-Bold.woff) format('woff'),
		url(../fonts/Gotham-Bold.ttf) format('truetype');
	font-weight:700;
	font-style:normal
}

body {
	overflow-x: hidden;
	font-family: "Open Sans";
}

::-webkit-scrollbar {
    position: fixed;
    width: 8px;
    height: 20px;
}

::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}

::-webkit-scrollbar-corner {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #394DBE;
    opacity: 0.2;
    border-radius: 44px;
}

::-webkit-scrollbar-track {
    background: #677371;
}

select {
    width: 100%;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
}


img, .disable_select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}

.bayangan_2dp {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.deg {
	-moz-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
}

.halfciclerev {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    /* position: fixed; */
    /* margin-bottom: -110px; */
    height: 70px;
    width: 140px;
    border-radius: 0 0 140px 140px;
    -moz-border-radius: 0 0 140px 140px;
    -webkit-border-radius: 0 0 140px 140px;
    background: #F7FBFE;
}

.segitiga {
	text-align: center;
    margin-right: auto;
    margin-left: auto;
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;

	border-top: 50px solid #F7FBFE;
}

#menu-top {
	background-color:white;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.10);
	border-bottom: 1px solid #E9E9E9;
	margin-bottom: -1px;
	padding-right: 50px;
	padding-left: 50px;
}
#menu-top > .nav-wrapper > ul {
	height: 100%;
}

.menu-top-logo a{
	display: flex;
    align-items: center;
}

#menu-top ul li:not(.menu-top-logo) a{
	font-family: "Open Sans";
	font-weight: 700;
	text-transform: uppercase;
	color: #1ACDB0;
	font-size: 13px;
	line-height: 13px;
}

#menu-top ul li.active > a:not(.dropdown-button) {
	padding-bottom: 21px;
	border-bottom: 3px solid #1ACDB0;
}

#menu-top ul li.active > a.dropdown-button {
	margin-bottom: -3px;
	border-bottom: 3px solid #1ACDB0;
}

li.menu-top-logo {
	height: 100%;
}

#menu-top ul li.menu-top-logo a {
	height: 100%;
	padding: 0;
}

#menu-top ul li.menu-top-logo img{
	height: 60%;
	vertical-align: middle;
}

#menu-top ul li:hover a {
	color: white;
}

#menu-top ul li {
	transition: none;
}

#menu-top ul li:not(.actions):hover, nav ul li a:hover {
	background-color: transparent;
	cursor: pointer;
}


#menu-top ul li:not(.menu-top-logo):not(.actions):not(.menu-top-icon):not(.divider):hover {
	transition: none;
	background-color: #1ACDB0;
}

#menu-top ul li.active {
	background-color: transparent;
}

#menu-top ul li.actions a{
	border-radius: 4px;
	color: white;
	padding: 10px;
}

#menu-top .login a{
	margin-left: 5px;
	background-color: #979797;
}

#menu-top .daftar a {
	margin: 0 50px;
	margin-right: 5px;
	background-color: #394DBE;
}

#menu-top .daftar a:hover {
	background-color: #4558C9;
}

.button-collapse {
	padding: 0;
}

#menu-top ul li.menu-top-icon a{
	color: #34495e;
	margin-left: 20px;
}

#menu-top ul li.menu-top-icon a:hover{
	color: #1ACDB0;
}

nav i.material-icons.inline-arrow-down {
	display: inline-block;
	font-size: inherit;
}

nav .menu-top-icon i.material-icons {
	font-weight: 700;
	margin-right: 0;
	font-size: 2.5rem;
}

.dropdown-content {
	/*box-shadow: none;*/
	background-color: #1ACDB0;
	width: 200px;
	transition: none;
}

#menu-top ul.dropdown-content li:not(.menu-top-logo):not(.actions):not(.menu-top-icon):not(.divider):hover {
	background-color: rgba(255,255,255,.3);
}

#menu-top ul.dropdown-content li:not(.menu-top-logo) a{
	font-family: "Open Sans";
	font-weight: 500;
	text-transform: none;
	font-size: 0.9em;
	line-height: 19px;
}

#menu-top ul.dropdown-content li:not(.menu-top-logo):nth-child(n) {
	border-bottom: 1px solid rgba(255,255,255,.3);
}

#menu-top ul.dropdown-content li:not(.menu-top-logo):last-child {
	border-bottom: none;
}

.side-nav {
	background-color: #1ACDB0;
}

.side-nav li i, .side-nav li span {
	color: white;
}

.side-nav li i {
	font-size: 20px;
	margin-right: 5px;
	line-height: 64px;
}

.side-nav li span {
	font-weight: 500;
}

.side-nav li.active-true a {
    background-color: rgba(0,0,0,0.2);
}

ul.side-nav li {
	border-bottom: 1px solid rgba(255,255,255,.3);
}

ul.side-nav > li:first-child {
	background-color: white;
	height: 200px;
}

ul.side-nav > li:first-child a {
	text-align: center;
	height: 100%;
	padding-top: 20%;
}

ul.side-nav > li:first-child a:hover {
	background-color: white;
}

ul.side-nav > li:first-child a img {
	width: 100%;
}

ul.collapsible li {
	border: none;
}

.side-nav .collapsible-body, .side-nav.fixed .collapsible-body {
	background-color: rgba(0, 0, 0, .1);
	/*background-color: rgba(26, 205, 176, .1);*/
}

.side-nav .collapsible-body a {
	color: rgba(255,255,255,.8);
}

#opening {
	background-color: #F7FBFE;
	/*padding-bottom: 10vh;*/
}

.opening {
	max-width: 100%;
	margin: 0px auto;
	padding: 0 10px;
	padding-top: 20px;
	width: 80%;
	/*height: 90vh;*/
/*	background: url(../img/slide-bg-full.jpg);
	background-size: cover;*/
	/*color: #394DBE;*/
	color: #084037;
}

.opening h2 {
	text-align: center;
	font-size: 3em;
	font-weight: bold;
}

.opening p {
	padding-top: 10px;
	font-size: 20px;
	text-align: center;
	margin-bottom: 20px;
}

.form-get-cakra p {
	text-align: center;
	font-size: 15px;
	padding-top: 18px;
}

.form-get-cakra strong {
	font-weight: bold;
	font-size: 25px;
}

.opening .input-field {
	margin-top: 0;
	text-align: center;
}

.opening .input-field input {
	background-color: white;
	border-radius: 4px;
	border: 1px solid rgba(0,0,0,.5);
	width: 80%;
	/*margin-top: 5px;*/
}

input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea {
    background-color: transparent;
    border: none;
    /*border-bottom: 1px solid #9e9e9e;*/
    border-radius: 0;
    outline: none;
    height: 3rem;
    width: 100%;
    font-size: 1.2rem;
    margin: 0 0 15px 0;
    padding: 0 10px;
    box-shadow: none;
    box-sizing: content-box;
    /*transition: all 0.3s;*/
}

input:not([type]).valid, input:not([type]):focus.valid, input[type=text].valid, input[type=text]:focus.valid, input[type=password].valid, input[type=password]:focus.valid, input[type=email].valid, input[type=email]:focus.valid, input[type=url].valid, input[type=url]:focus.valid, input[type=time].valid, input[type=time]:focus.valid, input[type=date].valid, input[type=date]:focus.valid, input[type=datetime].valid, input[type=datetime]:focus.valid, input[type=datetime-local].valid, input[type=datetime-local]:focus.valid, input[type=tel].valid, input[type=tel]:focus.valid, input[type=number].valid, input[type=number]:focus.valid, input[type=search].valid, input[type=search]:focus.valid, textarea.materialize-textarea.valid, textarea.materialize-textarea:focus.valid {
    border: 1px solid rgba(0, 0, 0, .3);;
    box-shadow: none;
}

input:not([type]):focus:not([readonly]), input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
    border: 1px solid #084037;
    box-shadow: none;
}

.btn-flat {
	padding: 0;
	margin: 0;
	width: 20%;
	background-color: #1ACDB0;
	border-radius: 4px;
	height: 100%;
	color: white;
	font-weight: 500;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.10);
	border-bottom: 1px solid #E9E9E9;
}

.btn-flat:hover {
	background-color: #3AE6C9;
	border-bottom: 1px solid #E9E9E9;
}

.down {
	-vendor-animation-duration: 1s;
  	-vendor-animation-delay: 1s;
}

.down i {
	font-size: 5em;
	color: rgba(8, 64, 55, .2);
}

.cerita-opening {
	border-radius: 10px;
	margin-top: 2rem;
	padding: 1rem;
	background-color: #F7FBFE;
	font-size: 1.3rem;
	line-height: 24px;
	font-family: "Open Sans";
	color: #084037;
	text-align: justify;
}

.cerita-opening strong {
	font-weight: bold;
	/*font-size: 2rem;*/
	/*margin: 5px;*/
}

.cerita-opening p {
	margin-top: 10px;
	margin-left: 40px;
}

.cerita-opening a {
	color: #394DBE;
	font-size: 25px;
	line-height: 35px;
	font-family: "Open Sans";
}

.cerita-opening a i {
	font-size: 35px;
	line-height: 35px;
	margin-right: 5px;
}

.pernyataan {
	margin: 30px 0;
	background-color: #1ACDB0;
	padding: 30px;
}

.pernyataan h5 {
	text-align: center;
	font-size: 1.2rem;
	margin-top: 0;
	color: rgba(255,255,255, .8);
}

.pernyataan p {
	text-align: center;
	font-size: 2.3rem;
	font-weight: bold;
	color: white;
}

.bingkai-foto-autis {
	margin-top: 15px;
	margin-left: 40px;
}

.bingkai-foto-autis img {
	width: 24%;
}

.cerita-opening .btn-flat {

	text-align: center;
	font-size: 1.2rem;
	width: 194px;
	color: white;
	text-transform: none;
	font-weight: 400;
	margin-top: 10px;
}

.btn-flat[data-warna="cakra"] {
	background-color: #1ACDB0;
}

.btn-flat[data-warna="cakra"]:hover {
	background-color: #3AE6C9;
}

.btn-flat[data-warna="deep-blue"] {
	background-color: #394DBE;
}

.btn-flat[data-warna="deep-blue"]:hover {
	background-color: #475BCF;
}

.btn-flat[data-warna="grey"] {
	background-color: #979797;
}

.btn-flat[data-warna="grey"]:hover {
	background-color: #B0AEAE;
}

.btn-flat[data-warna="none"] {
	background-color: transparent;
	color: #979797;
	box-shadow: none;
}

.btn-flat[data-warna="none"]:hover {
	background-color: transparent;
	color: #1ACDB0;
}

.btn-flat[data-warna="pending"] {
	background-color: #979797;
}

.btn-flat[data-warna="pending"]:hover {
	background-color: #B0AEAE;
}

.btn-flat[data-warna="proses"] {
	background-color: #FFA000;
}

.btn-flat[data-warna="proses"]:hover {
	background-color: #FFC107;
}

.btn-flat[data-warna="red"] {
	background-color: #D32F2F;
}

.btn-flat[data-warna="red"]:hover {
	background-color: #F44336;
}

.animated {
	    animation-duration: 1s;
}

.carousel {
	height: 250px;
	margin-top: 10px;
	cursor: move;
}

.carousel p {
	margin: 0;
	font-size: 1.2rem;
	color: #394DBE;
	text-align: center;
}

#footer {
	margin-top: 50px;
	height: 80px;
	background-color: #1ACDB0;
}

#footer .pernyataan {
	height: 80px;
	vertical-align: middle;
	margin: 0;
	padding: 0;
	margin-bottom:  0;
	margin-right: auto;
	margin-left: auto;
}

#footer .pernyataan p {
	height: 100%;
	width: 100%;
	vertical-align: middle;
	font-size: 1rem;
	line-height: 80px;
	font-weight: 400;
	display: inline-block;
	text-align: right;
}

#footer .pernyataan p span {
	font-weight: 600;
	margin-left: 5px;
}

#footer	.pernyataan i {
	line-height: 80px;
}

#footer .pernyataan a {
	color: white;
	line-height: 80px;
}

.path nav {
	background-color: white;
	border: none;
	box-shadow: none;
	color: blue;
}

.path .breadcrumb {
	color: red;
}

.path .breadcrumb:before {
	color: red;
}

#autisme p, #cakra p {
	margin-left: 0;
}

#autisme a {
	text-align: center;
}

#autisme i {
	font-style: italic;
}

#autisme h3, #produk h3 {
	text-align: center;
	color: #394DBE;
	font-size: 3rem;
	font-weight: 300;
}

#autisme .gambar, #cakra .gambar {
	width: 100%;
    margin-left: auto;
    margin-right: auto;
    /*display: inline-block;*/
    text-align: center;
}

.gambar img {
	width: 30%;
	border-radius: 50%;
}

.gambar img.logo-cakra {
	border-radius: 0%;
	width: 50%;
}

.lingkaran-bg {
	background-color: white;
	height: 150px;
	width: 150px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 50%;
}

.lingkaran-bg .gambar {
	height: 100%;
	padding: 10px;
	text-align: center;
}

.detail-manfaat h4 {
	text-align: center;
	font-size: 1.5rem;
	font-weight: bold;
	color: white;
	margin-bottom: 0px;
}

.lingkaran-bg .gambar img {
	vertical-align: middle;
	width: 100%;
	line-height: 150px;
}

.detail-manfaat p {
	padding: 0 10px;
	font-size: 1.1rem;
	font-weight: 500;
	line-height: 30px;
	color: rgba(255,255,255, .8);
}

.detail-manfaat h2 {
	text-align: center;
	font-size: 30px;
	font-weight: 700;
	margin-bottom: 0;
	margin-top: 10px;
}

.detail-manfaat p {
	margin-top: 0;
}

#cakra .pernyataan h5 {
	font-size: 2.6em;
	font-weight: 300;
	margin-bottom: 60px;
	color: rgba(255,255,255,1);
}

#cakra .detail-manfaat p {
	text-align: center;
	color: rgba(26, 205, 176, .8);
	font-size: 1rem;
}

.edisi-content {
	padding: 15px;
	border-bottom: 1px dashed #888;
}

.gambar i {
	font-size: 70px;
	line-height: 120px;
}

.cerita-opening h3 {
	text-align: center;
	font-size: 2.3em;
    font-weight: 300;
    margin-bottom: 30px;
}

table {
	/*margin-top: 1rem;*/
	font-size: 1rem;
}

table.bronze>tbody>tr {
	color: rgba(205, 127, 52, 1);
}

table.silver>tbody>tr {
	color: #777;
}

table.gold>tbody>tr {
	color: rgba(211, 174, 55, 1);
}

/*Bronze*/
table.bronze>tbody>tr:nth-child(even) {
    background-color: rgba(205, 127, 52, .1);
}

table.bronze>tbody>tr:nth-child(odd) {
    background-color: rgba(205, 127, 52, .01);
}

table.bronze>tbody>tr {
	border-bottom: 1px dashed rgba(205, 127, 52, 1);
	border-top: 1px dashed rgba(205, 127, 52, 1);
}

table.bronze > tbody > tr > td:first-child {
	font-weight: bold;
	border-left: 1px dashed rgba(205, 127, 52, 1);
}

table.bronze > tbody > tr > td:last-child {
	text-align: center;
	border-left: 1px dashed rgba(205, 127, 52, 1);
	border-right: 1px dashed rgba(205, 127, 52, 1);
}

/*Silver*/
table.silver>tbody>tr:nth-child(even) {
    background-color: rgba(166, 166, 166, .1);
}

table.silver>tbody>tr:nth-child(odd) {
    background-color: rgba(166, 166, 166, .01);
}

table.silver>tbody>tr {
	border-bottom: 1px dashed rgba(166, 166, 166, 1);
	border-top: 1px dashed rgba(166, 166, 166, 1);
}

table.silver > tbody > tr > td:first-child {
	font-weight: bold;
	border-left: 1px dashed rgba(166, 166, 166, 1);
}

table.silver > tbody > tr > td:last-child {
	text-align: center;
	border-left: 1px dashed rgba(166, 166, 166, 1);
	border-right: 1px dashed rgba(166, 166, 166, 1);
}

/*Gold*/
table.gold>tbody>tr:nth-child(even) {
    background-color: rgba(211, 174, 55, .1);
}

table.gold>tbody>tr:nth-child(odd) {
    background-color: rgba(211, 174, 55, .01);
}

table.gold>tbody>tr {
	border-bottom: 1px dashed rgba(211, 174, 55, 1);
	border-top: 1px dashed rgba(211, 174, 55, 1);
}

table.gold > tbody > tr > td:first-child {
	font-weight: bold;
	border-left: 1px dashed rgba(211, 174, 55, 1);
}

table.gold > tbody > tr > td:last-child {
	text-align: center;
	border-left: 1px dashed rgba(211, 174, 55, 1);
	border-right: 1px dashed rgba(211, 174, 55, 1);
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-floating) {
	color: #1ACDB0;
	margin: 0;
}

.card .card-content {
	text-align: center;
	line-height: 20px;
	padding-top: 0;
	font-family: 'Open Sans';
}

.card .card-action {
	text-align: center;
	font-weight: 600;
	line-height: 20px;
	font-family: 'Roboto';
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-floating):hover {
	text-align: center;
	color: #1ACDB0;
	margin: 0;
	line-height: 100%;
}

.indi-cakra {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 9;
	height: 100%;
	width: 100%;
}

.indi-cakra i {
	line-height: 200px;
	font-size: 3rem;
	color: white;
}

.indi-cakra i:hover {
	background-color: rgba(255,255,255, .2);
	cursor: pointer;
}

.slider .slides li .caption {
	max-height: 70%;
	height: 70%;
}

.caption .gambar {
	height: 100%;
	width: auto;
}

.caption h5 {
	font-weight: 600;
	text-transform: uppercase;
}

.caption p i {
	font-size: 1rem;
	color: rgba(255,255,255,.8);
	font-style: italic;
}

.slider .slides li .caption p {
	font-size: 1.1rem;
	color: rgba(255,255,255,1);
}

#login {
	height: 100vh;
	background-color: rgba(8, 64, 55, .08);
}

.login-form {
	background-color: white;
	margin: 0 0.75rem;
	/*height: 100%; */
	width: 350px;
	/*border: 1px dashed rgba(6, 63, 55, .5);*/
	margin-left: auto;
	margin-right: auto;
	border-radius: 5px;
	/*border: 1px solid rgba(255, 255, 255, .2);*/
}

.login-form .form-get-cakra p {
	text-transform: uppercase;
	background-color: #084037;
	margin: 0;
	padding: 15px 0;
	margin-bottom: 15px;
	color: white;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	font-weight: 500;
	font-size: 1.5rem;
}

.login-form .btn-flat {
	width: 50%;
	margin-top: 15px;
	/*padding: 0 10px;*/
}

.login-form form p {
	text-align: left;
	padding: 0 1rem;
}

.input-field, #login .opening .input-field  {
	text-align: left;
	padding: 0 1.75rem;
	box-sizing: inherit;
}

.input-field input, #login .opening .input-field input, .input-field textarea {
	box-sizing: inherit;
	width: 100%;
	font-size: 1rem;
	height: auto;
	padding: 10px;
	border: 1px solid rgba(0, 0, 0, .3);
}

.input-field input[type=email]:focus:not([readonly]), .input-field input[type=password]:focus:not([readonly]) {
	border: 1px solid #084037;;
}

.input-field label.active {
    font-size: 0.8rem;
    -webkit-transform: translateY(-0%);
    transform: translateY(0%);
}

.input-field label {
	margin-top: 60px;
	font-size: 0.8rem;
	color: red;
	margin-left: -10px;
}

.input-field.textarea label {
	margin-top: 85px;
}

.input-field label.active {
	font-size: 0.8rem;
}

input.validate.error, textarea.error {
	border-color: red;
}

.chip {
	width: 100%;
	height: auto;
}

.chip p {
	font-size: 1rem;
	padding: 0 15px;
	margin: 0;
	/*line-height: 25px;*/
}

.chip i.material-icons {
	padding: 0;
}

.chip.error {
	background-color: rgba(243, 66, 53, .5);
}

.chip.success {
	background-color: rgba(75, 174, 79, .5);
}

.chip strong {
	font-weight: bold;
}

.login-form a:not(.btn-flat) {
	line-height: 25px;
	font-size: .8rem;
	color: #9e9e9e;
}

.login-form .btn-flat {
	border-bottom: 4px solid #17BDA1;
}

.login-form .row {
	margin-bottom: 0;
}

.login-form .btn-flat:hover {
	background-color: #1ACDB0	;
}

.login-form .daftar p {
	text-align: center;
	font-size: 1rem;
	margin: 15px 0;
	color: #9e9e9e;
}

.login-form .daftar strong {
	font-weight: bold;
	color: #084037;
}

.login-form .daftar a {
	font-size: inherit;
}

.login-form .alert {
	width: 100%;
	text-align: center;
	color: #b94a48;
    background-color: #f2dede;
    /*display: none;*/
}

.dashboard-menu .menu-top-icon a {
	margin: 0;
}

ul.side-nav.dashboard-nav > li:first-child {
    background-color: white;
    height: 64px;
}

ul.side-nav.dashboard-nav > li:first-child a {
	padding: 0;
}

ul.side-nav.dashboard-nav > li:first-child a img {
	height: 60%;
    vertical-align: middle;
}

.dashboard-menu #menu-top {
	padding: 0 10px;
	/*padding-left: 250px;*/
	z-index: 9;
}

.side-nav.dashboard-nav {
	box-shadow: none;
	z-index: 8;
}

.dropdown-content {
	background-color: #149983;
}

.dashboard-content {
	margin: 0;
	margin-left: 240px;
	padding: 30px;
	background-color: #F7FBFE;
	min-height: 90vh;
}

.dashboard-content .bg-cakra {
	/*border-left: 4px solid #1ACDB0;
	border-right: 4px solid #1ACDB0;
	border-radius: 4px;
	color: #084037;
	margin: 10px 0;
	margin-top: 0;
	background-color: white;
	padding: 10px;*/
	border: 1px solid rgba(8, 64, 61, .1);
	border-radius: 2px;
	background-color: white;
	padding: 0px;
}

.dashboard-content .nama-dash {
	font-size: 1.3rem;
	font-weight: 500;
	margin-top: 20px;
	color: rgba(8,64,61, .5);
	/*text-transform: uppercase;*/
	/*text-align: center;*/
}

.path {
	padding: 10px;
}

.dashboard-content .nama-dash strong {
	font-weight: bold;
	font-size: 1.5rem;
	color: rgba(8,64,61, .7);
}

.dashboard-content .path {
	color: rgba(8, 64, 61, .7);
	/*text-transform: capitalize;*/
	font-weight: 500;
}

.dashboard-content .path span {
	vertical-align: middle;
	font-size: 15px;
}

.dashboard-content .content {
	margin-top: 15px;
	/*border: 1px solid rgba(8, 64, 61, .1);
	border-radius: 2px;*/
}

.dashboard-content .content .col {
	padding: 5px;
}

.dashboard-content .content .col:first-child {
	padding-left: 0;
}

.dashboard-content .content .col:last-child {
	padding-right: 0;
}

.subcol {
	padding: 5px 0;
}

.subcol:first-child {
	padding-top: 0;
}

.subcol:last-child {
	padding-bottom: 0;
}

.dashboard-content .path i {
	font-size: 20px;
	vertical-align: middle;
	opacity: .8;
}

 .nama-content {
	padding: 10px;
	border-bottom: 1px solid rgba(8, 64, 61, .1);
	font-size: 1.3rem;
	vertical-align: middle;
	color: rgba(8,64,61, .7);
	background-color: rgba(8, 64, 61, .1);
}

 .nama-content span	{
	vertical-align: middle;
}

 .isi-content {
	padding: 10px;
}

.profile {

}
.action {
	padding: 5px 0;
}

.action a {
	width: auto;
	padding: 10px;
	line-height: 100%;
	text-transform: capitalize;
	vertical-align: middle;
}

.action i {
	margin-right: 5px;
}

.field {
	margin-bottom: 5px;
	padding: 5px 0;
	border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.field i {
	font-size: 1rem;
	color: rgba(0, 0, 0, .5);
}

.field .isi {
	padding: 5px 0;
	font-size: 1.2rem;
	color: rgba(8,64,61, .8);
	font-weight: 600;
	line-height: 1.4rem;
}

.field .isi input, .field .isi textarea {
	border-radius: 4px;
}

.field .input-field {
	float: none;
	padding: 0;
	margin: 0;
}

.field .input-field input, .field .input-field textarea {
	margin-bottom: 10px;
	margin-top: 10px;
	background-color: white;
}

.isi strong {
	font-weight: bold;
}

.isi span {
	font-weight: 700;
}

.field.error i {
	color: rgba(222, 27, 27, .8);
}

.field.success i {
	color: #1ACDB0;
}

.field i i:before {
	content: attr(icon);
}

.field .action {
	margin-left: 20px;
}

.field .action a {
	padding: 5px;
}

.field .action i {
	color: white;
}

.pemberitahuan i {
	font-weight: 600;
}

.isi-content.form {
	border: 1px dashed rgba(8,64,61, .5);
	background-color: rgba(8,64,61, .05);
	padding: 30px;
}

.ringkas {
	border: 1px rgba(8,64,61, .5);
	background-color: rgba(8,64,61, .05);
	padding: 30px;
	line-height: 30px;
	/*font-size:large;*/
}

.pemberitahuan i i{
	margin-right: 5px;
}

.pemberitahuan .isi {
	font-weight: 500;
	padding-left: 20px;
	font-size: 1rem;
}



td {
	padding: 3px 3px;
}

td a.btn-flat {
	padding: 5px;
    margin: 0;
    width: auto;
    background-color: #1ACDB0;
    border-radius: 4px;
    color: white;
    font-weight: 500;
    height: 100%;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.10);
    border-bottom: 1px solid #E9E9E9;
    line-height: 100%;
    text-transform: capitalize;
    vertical-align: middle;
}

td .action {
	padding: 0;
}

thead th {
	font-weight: 700;
	color: rgba(8,64,61, .7);
}

p strong {
	font-weight: bold;
}

#cara_order p a {
	color: yellow;
}

#cara_order p a:hover {
	color: darkblue;
}

.modal .modal-footer .btn-flat {
	margin: 5px;
}

[type="checkbox"]+label {
	line-height: 21px;
}

::-webkit-input-placeholder {
   /*color: red;*/
   /*font-size: 3rem;*/
}

:-moz-placeholder { /* Firefox 18- */
   /*color: red;  */
}

::-moz-placeholder {  /* Firefox 19+ */
   /*color: red;  */
}

:-ms-input-placeholder {
   /*color: red;  */
}

@media only screen and (max-width: 960px) {
	.slider .slides li .caption {
		top: 10%;
	}
}

@media only screen and (max-width: 727px) {
	.hide-on-727 {
		display: none;
	}

	.row .col.m8.max-on-727 {
		width: 100%;
	}
}

/*large only*/
@media only screen and (min-width: 993px) {

}

/*medium down*/
@media only screen and (max-width: 992px) {
	#menu-top {
		padding-left: 20px;
		padding-right: 20px;
	}

	.opening {
		width: 90%;
	}

	.opening h2 {
		font-size: 2.5em;
	}

	.opening p {
		font-size: 17px;
	}

	.opening video {
		margin-bottom: 30px;
	}

	.detail-manfaat p {
		margin-bottom: 30px;
	}

	.edisi-content {
		margin-bottom: 2rem;
		padding: 0;
	}

	table {
		font-size: .8rem;
	}

	.dashboard-content {
		margin-left: 0;
	}

	.edisi-content p {
		font-size: 80%;
	}

	.dashboard-menu #menu-top {
		padding-left: 10px;
	}

	.side-nav.dashboard-nav {
		box-shadow: none;
		z-index: 999;
	}

}

/*medium up*/
@media only screen and (min-width: 601px) {

}

/*small down*/
@media only screen and (max-width: 600px) {
	.opening h2 {
		font-size: 2em;
	}

	.opening p {
		font-size: 15px;
	}

	.cerita-opening p, .bingkai-foto-autis {
		margin-left: 0;
	}


}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 100;
  src: local('Lato Hairline'), local('Lato-Hairline'), url(../assets/fonts/Latto.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(../assets/fonts/Open.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}

.form-group {
    margin-bottom: 15px;
}


.form-control {
    display: block;
    margin-top: 12px;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.container-4{
  overflow: hidden;
  width: 325px;
  vertical-align: middle;
  white-space: nowrap;
}

.container-4 input#search{
  width: 300px;
  height: 38px;
  background: #1ACDB0;
  border: none;
  font-size: 10pt;
  float: left;
  color: #fff;
  padding-left: 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.container-4 input#search::-webkit-input-placeholder {
   color: #fff;
}

.container-4 input#search:-moz-placeholder { /* Firefox 18- */
   color: #65737e;
}

.container-4 input#search::-moz-placeholder {  /* Firefox 19+ */
   color: #65737e;
}

.container-4 input#search:-ms-input-placeholder {
   color: #65737e;
}

.container-4 button.icon{
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;

  border: none;
  /*background: #232833;*/
  height: 50px;
  width: 50px;
  color: #4f5b66;
  opacity: 0;
  font-size: 10pt;

  -webkit-transition: all .55s ease;
  -moz-transition: all .55s ease;
  -ms-transition: all .55s ease;
  -o-transition: all .55s ease;
  transition: all .55s ease;
}

.container-4:hover button.icon, .container-4:active button.icon, .container-4:focus button.icon{
  outline: none;
  opacity: 1;
  margin-left: -50px;
}

.container-4:hover button.icon:hover{
  background: white;
}
