/*
Theme Name: SociallyViral
Theme URI: http://mythemeshop.com/themes/sociallyviral-free/
Author: MyThemeShop
Author URI: https://mythemeshop.com
Description: SociallyViral is an engaging WordPress theme that is designed to help boost social shares and get you more viral traffic from the web\'s top social media websites.
Version: 1.0.7
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: yellow, light, orange, blue, fluid-layout, responsive-layout, right-sidebar, custom-background, custom-header, custom-menu, featured-images, theme-options, threaded-comments, translation-ready, two-columns, one-column
Text Domain: sociallyviral

SociallyViral WordPress Theme, Copyright (C) 2015, MyThemeShop
SociallyViral is distributed under the terms of the GNU GPL

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 Normalize
2.0 Font Icons
    2.1 Typography
3.0 Elements
4.0 Forms
5.0 Navigation
    5.1 Links
    5.2 Menus
6.0 Accessibility
7.0 Alignments
8.0 Clearings
9.0 Widgets
10.0 Content
    10.1 Posts and pages
    10.2 Asides
    10.3 Comments
11.0 Infinite scroll
12.0 Media
    12.1 Captions
    12.2 Galleries
--------------------------------------------------------------*/
/*--------------------------------------------------------------
1.0 Normalize
--------------------------------------------------------------*/
html { font-family: sans-serif; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body { margin: 0 }
article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary { display: block }
audio, canvas, progress, video { display: inline-block; vertical-align: baseline; }
audio:not([controls]) { display: none; height: 0; }
[hidden], template { display: none }
a { background-color: transparent }
a:active, a:hover { outline: 0 }
abbr[title] { border-bottom: 1px dotted }
b, strong { font-weight: bold }
dfn { font-style: italic }
h1 { font-size: 2em }
mark { background: #ff0; color: #000; }
small { font-size: 80% }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em }
sub { bottom: -0.25em }
img { border: 0 }
svg:not(:root) { overflow: hidden }
figure { margin: 1em 40px }
hr { box-sizing: content-box; height: 0; }
pre { overflow: auto }
code, kbd, pre, samp { font-family: monospace, monospace; font-size: 1em; }
button, input, optgroup, select, textarea { color: inherit; font: inherit; margin: 0; }
button { overflow: visible }
button, select { text-transform: none }
button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; cursor: pointer; }
button[disabled], html input[disabled] { cursor: default }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
input { line-height: normal }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; }
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button { height: auto }
input[type="search"] { -webkit-appearance: textfield; box-sizing: content-box; }
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none }
fieldset { border: 0; margin: 0; padding: 0; }
legend { border: 0; padding: 0; }
textarea { overflow: auto }
optgroup { font-weight: bold }
table { border-collapse: collapse; border-spacing: 0; }
td, th { padding: 0 }
/*--------------------------------------------------------------
2.0 Font Icons
--------------------------------------------------------------*/
@font-face {
  font-family: 'sociallyviral';
  src: url('fonts/sociallyviral.eot');
  src: url('fonts/sociallyviral.eot?#iefix') format('embedded-opentype'),
       url('fonts/sociallyviral.woff') format('woff'),
       url('fonts/sociallyviral.ttf') format('truetype'),
       url('fonts/sociallyviral.svg') format('svg');
  font-weight: normal;
  font-style: normal;
} 
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "sociallyviral";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-angle-double-right:before { content: '\e800'; }
.icon-angle-double-left:before { content: '\e801'; }
.icon-down-dir:before { content: '\e802'; }
.icon-angle-up:before { content: '\e803'; }
.icon-search:before { content: '\e804'; }
.icon-youtube-play:before { content: '\e805'; }
.icon-clock:before { content: '\e806'; }
.icon-youtube-play-1:before { content: '\e807'; }
.icon-google-plus:before { content: '\e808'; }
.icon-plus:before { content: '\e809'; }
.icon-twitter:before { content: '\e80a'; }
.icon-chat:before { content: '\e80b'; }
.icon-calendar:before { content: '\e80c'; }
.icon-tags:before { content: '\e80d'; }
.icon-star:before { content: '\e80e'; }
.icon-star-empty:before { content: '\e80f'; }
.icon-star-half:before { content: '\e810'; }
.icon-star-half-alt:before { content: '\e811'; }
.icon-facebook:before { content: '\e812'; }
.icon-user:before { content: '\e813'; }
.icon-globe:before { content: '\e814'; }
.icon-menu:before { content: '\e816'; }
/*--------------------------------------------------------------
2.1 Typography
--------------------------------------------------------------*/
body, button, input, select, textarea { font-family: "Roboto", sans-serif; color: #707070; font-size: 16px; font-size: 1rem; line-height: 1.5; }
h1, h2, h3, h4, h5, h6 { margin: 0; clear: both; color: #555; font-weight: normal; margin-bottom: 12px; }
h1 { font-size: 38px; line-height: 1.1; }
h2 { font-size: 34px; line-height: 1.2; }
h3 { font-size: 30px; line-height: 1.3; }
h4 { font-size: 28px; line-height: 1.4; }
h5 { font-size: 24px; line-height: 1.4; }
h6 { font-size: 20px; line-height: 1.4; }
p { margin-bottom: 1.5em; margin-top: 0; }
b, strong { font-weight: bold }
dfn, cite, em, i { font-style: italic }
blockquote { margin: 0 1.5em }
address { margin: 0 0 1.5em }
pre { background: #eee; font-family: "Courier 10 Pitch", Courier, monospace; font-size: 15px; margin-bottom: 1.6em; max-width: 100%; overflow: auto; padding: 1.6em; }
code, kbd, tt, var { font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace; font-size: 15px; font-size: 0.9375rem; }
abbr, acronym { border-bottom: 1px dotted #666; cursor: help; }
mark, ins { background: #fff9c0; text-decoration: none; }
small { font-size: 75% }
big { font-size: 125% }
/*--------------------------------------------------------------
3.0 Elements
--------------------------------------------------------------*/
html { box-sizing: border-box }
*, *:before, *:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http: //css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */ box-sizing: inherit;     }
body { background: #F0EDE9; /* Fallback for when there is no custom background color defined. */ }
blockquote { position: relative; font-style: italic; font-family: Georgia; font-size: 20px; }
blockquote:before, blockquote:after, q:before, q:after { content: "" }
blockquote:before { content: '\e800'; font-family: sociallyviral; position: absolute; content: '"'; font-size: 58px; top: -14px; left: -40px; }
blockquote, q { quotes: "" "" }
hr { background-color: #ccc; border: 0; height: 1px; margin-bottom: 1.5em; }
.entry-content ul, .entry-content ol { margin: 0 0 1.5em 2em; padding: 0; }
ul { list-style: disc; padding: 0; margin: 0; }
ol { list-style: decimal }
li > ul, li > ol { margin-bottom: 0; margin-left: 1.5em; }
dt { font-weight: bold }
dd { margin: 0 1.5em 1.5em }
img { height: auto; /* Make sure images are scaled correctly. */ max-width: 100%; /* Adhere to container width. */ ; ; ; ; }
table { margin: 0 0 1.5em; width: 100%; }
/*--------------------------------------------------------------
4.0 Forms
--------------------------------------------------------------*/
button, input[type="button"], input[type="reset"], input[type="submit"] { border: 1px solid; border-color: #ccc #ccc #bbb; background: #e6e6e6; color: rgba(0, 0, 0, .8); font-size: 12px; font-size: 0.75rem; line-height: 1; padding: .6em 1em .4em; }
button:hover, input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover { box-shadow: none }
button:focus, input[type="button"]:focus, input[type="reset"]:focus, input[type="submit"]:focus, button:active, input[type="button"]:active, input[type="reset"]:active, input[type="submit"]:active { box-shadow: none }
input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], textarea { color: #666; border: 1px solid #F0EDE9; background-color: #f0ede9; }
input[type="text"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="password"]:focus, input[type="search"]:focus, textarea:focus { color: #111 }
input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"] { padding: 3px }
textarea { padding-left: 3px; width: 100%; }
/*--------------------------------------------------------------
5.0 Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
5.1 Links
--------------------------------------------------------------*/
a { color: #555; text-decoration: none; -webkit-transition: color 0.25s ease-in; -moz-transition: color 0.25s ease-in; -ms-transition: color 0.25s ease-in; -o-transition: color 0.25s ease-in; transition: color 0.25s ease-in; }
a:hover, a:focus, a:active { color: #555; outline: 0; }
a:hover, .post-info a:hover, .single_post .post-info a:hover, .copyrights a:hover, #navigation.footer-navigation ul li a:hover { color: #F47555 }
/*--------------------------------------------------------------
5.2 Menus
--------------------------------------------------------------*/
a#pull { display: none }
.primary-navigation { clear: both; display: block; float: left; width: 100%; background: #33BCF2; }
.primary-navigation ul { list-style: none; margin: 0; padding-left: 0; }
.primary-navigation li { float: left; position: relative; }
.primary-navigation a { text-decoration: none }
.primary-navigation ul ul { box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2); float: left; position: absolute; top: 1.5em; left: -999em; z-index: 99999; }
.primary-navigation ul ul ul { left: -999em; top: 0; }
.primary-navigation ul ul a { width: 200px }
.primary-navigation ul ul li { }
.primary-navigation li:hover > a { }
.primary-navigation ul ul :hover > a { }
.primary-navigation ul ul a:hover { }
.primary-navigation ul li:hover > ul { left: auto }
.primary-navigation ul ul li:hover > ul { left: 100% }
.primary-navigation .current_page_item > a, .primary-navigation .current-menu-item > a, .primary-navigation .current_page_ancestor > a { }
.menu-item-has-children > a:after { content: "\e802"; font-family: sociallyviral; position: absolute; right: 19px; }
.primary-navigation#navigation .menu-item-has-children > a { padding-right: 38px }
.primary-navigation { display: block; float: right; width: 100%; text-align: left; max-width: 1170px; }
.primary-navigation a { color: #222222; font-weight: bold; text-align: left; text-decoration: none; padding: 8px 25px; -webkit-transition: none; -moz-transition: none; transition: none; }
.primary-navigation a { padding: 15px 30px; font-weight: normal; font-size: 18px; color: #FFF; text-transform: uppercase; }
.primary-navigation#navigation ul li:hover { background: rgba(0, 0, 0, 0.08) }
.primary-navigation#navigation ul li:hover a { color: #fff!important }
.primary-navigation a .sub { font-size: 11px; font-weight: normal; color: #9B9B9B; }
.primary-navigation#navigation { float: left }
.primary-navigation#navigation ul { margin: 0 auto; min-height: 54px; }
.primary-navigation#navigation ul li { float: left; line-height: 24px; position: relative; border-right: 1px solid rgba(255, 255, 255, 0.22); -webkit-transition: background 0.25s ease-in; -moz-transition: background 0.25s ease-in; -ms-transition: background 0.25s ease-in; -o-transition: background 0.25s ease-in; transition: background 0.25s ease-in; }
.primary-navigation#navigation ul li a, .primary-navigation#navigation ul li a:link, .primary-navigation#navigation ul li a:visited { display: inline-block }
.primary-navigation#navigation > ul > .current a { background: transparent; color: #5a5a5a !important; }
.primary-navigation#navigation ul li li { border-bottom: 0 }
.primary-navigation#navigation ul ul { position: absolute; width: 265px; padding: 20px 0 0 0; padding-top: 0; z-index: 400; font-size: 12px; color: #798189; border-top: 1px solid rgba(255, 255, 255, 0.22); display: none; top: 54px; background: #33BCF2; }
.primary-navigation#navigation ul ul li { padding: 0; border-right: 0; width: 100%; }
.primary-navigation#navigation ul ul a, .primary-navigation#navigation ul ul a:link, .primary-navigation#navigation ul ul a:visited { padding: 13px 45px 13px 20px; position: relative; width: 100%; border-left: 0; background: transparent; border-right: 0; -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0; border-bottom: 0; margin: 0; }
.primary-navigation#navigation ul ul li:first-child a { }
.primary-navigation#navigation ul ul li:last-child a { border-bottom: none }
.primary-navigation#navigation ul ul ul { left: 265px; top: -1px; }
.site-main .comment-navigation, .site-main .posts-navigation, .site-main .post-navigation { margin: 0 0 25px; float: left; }
.pagination ul { list-style-type: none; padding: 0; margin: 0; }
.nav-next a, .nav-previous a, .pagination a, .pagination .current { float: left; padding: 15px 15px; background: #FFF; -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05); box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05); line-height: 1; font-size: 18px; text-transform: uppercase; min-width: 48px; text-align: center; margin-bottom: 5px; }
.nav-previous { float: left }
.nav-next { float: right }
.posts-navigation { clear: both; width: 100%; float: left; }
.pagination .current { color: #f47555 }
.pagination a, .pagination .current { margin-right: 1px }
.page-numbers.dots { display: none }
.page-links a { min-width: 40px; line-height: 40px; display: inline-block; text-align: center; background-color: #33BCF2; color: #fff; margin-left: 10px; }
/*-[ Toggle menu ]---------------------------*/
.toggle-menu ul ul { display: none }
.toggle-menu .toggle-menu-item-parent { position: relative }
.toggle-menu .toggle-caret { position: absolute; top: 0; right: 0; text-align: center; cursor: pointer; line-height: inherit; }
.toggle-menu .toggle-caret .fa { width: 20px; text-align: center; font-size: inherit; color: inherit; line-height: 20px; }
.toggle-menu .active > .toggle-caret .fa:before { content: "\f068" } /*minus*/
.toggle-menu .toggle-caret:hover .fa { }
/*--------------------------------------------------------------
6.0 Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text { clip: rect(1px, 1px, 1px, 1px); position: absolute !important; height: 1px; width: 1px; overflow: hidden; }
.screen-reader-text:hover, .screen-reader-text:active, .screen-reader-text:focus { background-color: #f1f1f1; nowhitespace: afterproperty; nowhitespace: afterproperty; nowhitespace: afterproperty; nowhitespace: afterproperty; border-radius: 3px; box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6); clip: auto !important; color: #21759b; display: block; font-size: 14px; font-size: 0.875rem; font-weight: bold; height: auto; left: 5px; line-height: normal; padding: 15px 23px 14px; text-decoration: none; top: 5px; width: auto; z-index: 100000; /* Above WP toolbar. */ }
/*--------------------------------------------------------------
7.0 Alignments
--------------------------------------------------------------*/
.alignleft { display: inline; float: left; margin-right: 1.5em; }
.alignright { display: inline; float: right; margin-left: 1.5em; }
.aligncenter { clear: both; display: block; margin-left: auto; margin-right: auto; }
/*--------------------------------------------------------------
8.0 Clearings
--------------------------------------------------------------*/
.clear:before, .clear:after, .entry-content:before, .entry-content:after, .comment-content:before, .comment-content:after, .site-header:before, .site-header:after, .site-content:before, .site-content:after, .site-footer:before, .site-footer:after { content: ""; display: table; }
.clear:after, .entry-content:after, .comment-content:after, .site-header:after, .site-content:after, .site-footer:after { clear: both }
/*--------------------------------------------------------------
9.0 Widgets
--------------------------------------------------------------*/
.widget { margin: 0 0 1.5em }
/* Make sure select elements fit in widgets. */
.widget select { max-width: 100% }
/* Search widget. */
.widget_search .search-submit { display: none }
/* Calender Widget */
#wp-calendar { margin-bottom: 0; background-color: #fff; border: 1px solid #F0EDE9; }
#wp-calendar td { text-align: center; padding: 7px 0; border-top: 1px solid #F0EDE9; border-right: 1px solid #F0EDE9; }
#wp-calendar caption { font-size: 16px; padding-bottom: 10px; font-weight: bold; }
#wp-calendar #prev { text-align: left; padding-left: 12px; }
#wp-calendar #next { text-align: right; padding-right: 12px; }
#wp-calendar thead th { padding: 10px 0; text-align: center; }
/*--------------------------------------------------------------
10.0 Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
10.1 Posts and pages
--------------------------------------------------------------*/
.sticky { display: block }
.hentry { margin: 0 0 1.5em }
.single .byline, .group-blog .byline { display: inline }
.page-content, .entry-content, .entry-summary { margin: 1.5em 0 0 }
.page-links { clear: both; margin: 0 0 1.5em; }
.single_post { background: #fff; float: left; width: 100%; padding: 25px; box-sizing: border-box; margin-top: 11px; box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05); margin-bottom: 30px; }
.breadcrumb { margin: 20px 0 5px 0; font-size: 14px; color: #a4a4a4; }
.breadcrumb a { font-size: 14px; color: #a4a4a4; }
.breadcrumb a:hover { color: #f47555 }
.breadcrumb div { display: inline-block; margin-right: 10px; }
#content_box { width: 67%; float: left; margin-bottom: 10px; padding: 0; }
.single article.post { width: 100%; box-shadow: none; }
.entry-header > h1 { margin-top: 0; padding-top: 0; }
.single .entry-header > h1 { margin-bottom: 10px; font-size: 38px; line-height: 53px; font-weight: normal; }
.post-tags { float: left; width: 100%; margin-bottom: 25px; }
.related-posts article.latestpost .entry-title { font-size: 18px; line-height: 24px; margin-bottom: 0; }
.related-posts article.post { width: 31.3%; margin-right: 3.04%; }
.related-posts article.post header { margin-bottom: 0; border: 1px solid #E9E9E9; border-top: 0; min-height: 105px; }
.related-posts article.post:nth-of-type(2), .related-posts article.post:nth-of-type(3n+5) { margin-right: 3.04% }
.related-posts article.post:nth-of-type(3n) { margin-right: 0 }
.related-posts article.post:nth-of-type(4) { clear: left }
.related-posts h4, #respond h4, #respond h3, .total-comments, .postauthor h4, .postauthor-top, .comments-title { margin-bottom: 25px; font-weight: 500; text-transform: uppercase; font-size: 22px; margin-top: 10px; line-height: 1; }
h1.page-title { margin-bottom: 20px; font-size: 24px; margin-top: -15px; }
/*--------------------------------------------------------------
10.2 Asides
--------------------------------------------------------------*/
.blog .format-aside .entry-title, .archive .format-aside .entry-title { display: none }
.sidebar.c-4-12 { float: right; width: 30.7%; line-height: 20px; max-width: 344px; padding: 22px; background-color: #f0ede9; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
#sidebar .widget { width: 100%; font-size: 16px; color: #707070; margin-bottom: 30px; display: inline-block; }
.widget > h3 { font-size: 18px; color: #555555; line-height: 18px; margin: 0 0 30px 0; padding: 0; text-transform: uppercase; }
.widget .widget-title { font-weight: 500 }
.widget ul { list-style-type: none; margin: 0; padding: 0; }
.widget_categories li, .widget_archive li, .widget_pages li, .widget_meta li, .widget_recent_entries li, .widget_rss li, .widget_nav_menu li { width: 100%; padding: 5px 0; list-style-type: square; margin-left: 18px; }
.oddad { float: left }
.evenad { float: right }
.sidebar.c-4-12 .advanced-recent-posts li.vertical-small { display: inline-block; padding: 0 0 15px 0; margin-bottom: 15px; width: 100%; }
.sidebar.c-4-12 .advanced-recent-posts li.vertical-small:last-of-type { margin: 0; padding: 0; }
.sidebar.c-4-12 .advanced-recent-posts img { float: left }
.sidebar.c-4-12 .advanced-recent-posts .horizontal-container-inner img { margin-right: 15px }
.sidebar.c-4-12 .advanced-recent-posts li.horizontal-small { padding: 15px 0; overflow: hidden; }
.sidebar.c-4-12 .advanced-recent-posts li.horizontal-small:first-of-type { padding-top: 0 }
.sidebar.c-4-12 .advanced-recent-posts li.horizontal-small:last-of-type { padding-bottom: 0 }
.sidebar.c-4-12 .advanced-recent-posts li.horizontal-small .post-data { overflow: hidden }
.sidebar.c-4-12 .advanced-recent-posts li.horizontal-small .post-info { margin-top: 5px }
.widget .vertical-small .post-data { float: left; width: 100%; padding: 15px; box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05); -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
#sidebar .widget.vertical-small .post-data { background: #fff }
.widget .vertical-small .post-title { clear: both; margin-bottom: 5px; float: left; width: 100%; font-size: 20px; line-height: 28px; }
.widget .vertical-small .post-info { width: 100%; float: left; margin-bottom: 10px; }
.post-info > span, .widget .vertical-small .post-info > span { margin-right: 35px }
.post-info > span:last-of-type { margin-right: 0 }
.single .thecategory { padding: 8px 15px 8px 12px; margin-left: 0; margin-bottom: 15px; float: left; background-color: #33bcf2; color: #fff; }
.single .thecategory a { color: inherit }
.tagcloud a { background: #f47555; padding: 5px 10px; display: inline-block; color: #ffffff; font-size: 14px !important; margin: 0 0 4px 0; -webkit-transition: background 0.25s ease-in; transition: background 0.25s ease-in; }
.tagcloud a:hover { background: #33bcf2 }
#commentform input#submit { line-height: 1; background-color: #F47555; text-transform: uppercase; padding: 12px 15px; color: #fff; text-decoration: none; float: left; cursor: pointer; display: inline-block; border: none; transition: all 0.2s linear; font-weight: normal; font-size: 18px; margin-top: 5px; text-shadow: none; }
#commentform input#submit:hover { background-color: #33bcf2 }
/*--------------------------------------------------------------
10.21 Author Box
--------------------------------------------------------------*/
.author-wrap { border: 1px solid #E9E9E9; min-height: 162px; padding-right: 20px; margin-bottom: 30px; }
.postauthor img { float: left; margin: 0 20px 0 0; width: 21.968%; }
.postauthor h5 { font-weight: normal; font-size: 20px; padding: 0; margin: 20px 0 0 0; line-height: 1; text-transform: capitalize; color: #555; display: inline-block; }
.postauthor p { overflow: hidden }
.postauthor, .related-posts, #comments { float: left; width: 100%; }
/*--------------------------------------------------------------
10.3 Comments
--------------------------------------------------------------*/
.comment-content a { word-wrap: break-word }
.bypostauthor { display: block }
#comments label { min-width: 80px; display: inline-block; }
.comment-form-comment label { margin-bottom: 5px }
.comment-list { list-style-type: none; padding: 0; margin: 0; }
.comment-list li { margin: 0 0 25px 0; padding-left: 0; float: left; width: 100%; position: relative; }
.comment-list li { list-style-type: none }
.comment-list li .children { margin-top: 20px ;float: left;width: 100%;margin-left: 0;}
#comments .avatar { float: left; margin-right: 20px; margin-top: 7px; }
.comment-meta { position: relative }
.comment-metadata a { color: #a4a4a4; font-size: 12px; text-transform: capitalize; position: absolute; right: 0; top: 0; }
.comment-metadata time { margin-right: 30px }
.comment-metadata a:hover { color: #F47555 }
.comment-content { overflow: hidden }
.comment-content p:last-child { margin-bottom: 0 }
.reply { margin-top: 0px; padding-bottom: 0px; overflow: hidden; float: right; }
.reply a { padding: 0; color: #a4a4a4; font-size: 12px; }
.reply a:hover { color: #F47555 }
.says {display:none;}
/*--------------------------------------------------------------
11.0 Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */ display: none;     }
/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer { display: block }
/*--------------------------------------------------------------
12.0 Media
--------------------------------------------------------------*/
.page-content .wp-smiley, .entry-content .wp-smiley, .comment-content .wp-smiley { border: none; margin-bottom: 0; margin-top: 0; padding: 0; }
/* Make sure embeds and iframes fit their containers. */
embed, iframe, object { max-width: 100% }
/*--------------------------------------------------------------
12.1 Captions
--------------------------------------------------------------*/
.wp-caption { margin-bottom: 1.5em; max-width: 100%; }
.wp-caption img[class*="wp-image-"] { display: block; margin: 0 auto; }
.wp-caption-text { text-align: center }
.wp-caption .wp-caption-text { margin: 0.8075em 0 }
/*--------------------------------------------------------------
12.2 Galleries
--------------------------------------------------------------*/
.gallery { margin-bottom: 1.5em }
.gallery-item { display: inline-block; text-align: center; vertical-align: top; width: 100%; }
.gallery-columns-2 .gallery-item { max-width: 50% }
.gallery-columns-3 .gallery-item { max-width: 33.33% }
.gallery-columns-4 .gallery-item { max-width: 25% }
.gallery-columns-5 .gallery-item { max-width: 20% }
.gallery-columns-6 .gallery-item { max-width: 16.66% }
.gallery-columns-7 .gallery-item { max-width: 14.28% }
.gallery-columns-8 .gallery-item { max-width: 12.5% }
.gallery-columns-9 .gallery-item { max-width: 11.11% }
.gallery-caption { display: block }
/*-----------------------------------
 404 Page
------------------------------------*/
.error404 .site-content, .search-no-results .site-content { margin-top: 20px; padding-bottom: 100px; }
h1.big { font-size: 100px }
/*-----------------------------------
 Main Content
------------------------------------*/
.main-container { width: 100%; max-width: 1170px; margin: 0 auto; clear: both; display: block; padding: 0; }
.container { max-width: 1170px; margin: 0 auto; }
/*-[header]-----------------------------------*/
#masthead { background: #FFF; -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05); box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05); text-align: center; margin-bottom: 40px; }
.single #masthead, .page-template-default #masthead, .page-template-page-blog #masthead { margin-bottom: 0 }
.site-branding { margin: 0 0 0 25px; overflow: hidden; float: left; display: inline-block; }
#logo { float: left; display: inline-block; line-height: 1; position: relative; margin-bottom: 25px; margin-top: 29px; }
#logo a { float: left; line-height: 1; }
#logo.text-logo { margin: 32px 0; font-size: 2em; }
#masthead .header-search { float: none; width: 100%; max-width: 453px; margin-bottom: 25px; margin-top: 29px; margin-left: auto; margin-right: auto; display: inline-block; text-align: left; }
#masthead #searchform { width: 100%; float: left; }
#masthead #s { margin: 0 !important; width: 100%; background: #EFEBE7; border-color: #EFEBE7; }
.header-social { float: right; display: inline-block; margin-right: 25px; margin-bottom: 25px; margin-top: 29px; }
.header-social a { padding: 12px 0px 9px; float: left; font-size: 20px; line-height: 1; width: 42px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; margin-right: 3px; text-align: center; }
.header-social a.header-facebook { background: #375593 }
.header-social a.header-twitter { background: #0eb6f6 }
.header-social a.header-google-plus { background: #dd4b39 }
.header-social a.header-youtube-play { background: #e32c26 }
.header-social a svg { fill: #fff }
.header-social a:last-child { margin-right: 0 }
.header-social a i { color: #fff }
.header-social a i:before { margin-right: 0 }
article.post { width: 31.6%; float: left; margin-bottom: 30px; margin-right: 2.6%; background: #FFF; box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05); }
article.featuredpost.post { width: 65.8% }
article.post:nth-of-type(2) { margin-right: 0 }
article.post:nth-of-type(3n+5) { margin-right: 0 }
article.post:nth-of-type(3) { margin-right: 2.6% }
.home article.post:nth-of-type(6n) { clear: left }
.paged article.post:nth-of-type(2), .paged article.post:nth-of-type(3n+5) { margin-right: 2.6% }
.paged article.post:nth-of-type(6n) { clear: none }
.paged article.post:nth-of-type(3n+1) { clear: left }
.paged article.post:nth-of-type(3n) { margin-right: 0 }
.search-area article.post:nth-of-type(2), .search-area article.post:nth-of-type(3n+5), .content-archive article.post:nth-of-type(2), .content-archive article.post:nth-of-type(3n+5) { margin-right: 2.6% }
.search-area article.post:nth-of-type(3n), .content-archive article.post:nth-of-type(3n) { margin-right: 0 }
.related-posts article.post:nth-of-type(2), .related-posts article.post:nth-of-type(3n+5) { margin-right: 3.04% }
.featured-thumbnail { float: left; max-width: 100%; width: 100%; }
#featured-thumbnail { float: left; max-width: 100%; display: block; position: relative; width: 100%; }
.featured-thumbnail img { margin-bottom: 0; width: 100%; float: left; width: 100%; }
article.latestpost .entry-title { font-weight: normal; font-size: 24px; color: #555; margin-top: 0; margin-bottom: 5px; line-height: 36px; }
.latestpost .title { display: block; margin-bottom: 7px; }
.latestpost.featuredpost .title { margin-bottom: 0px }
.latestpost header { padding: 15px 20px 12px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; margin-bottom: 0; min-height: 118px; overflow: hidden; }
.latestpost.featuredpost header { min-height: 118px }
.post-info { display: block; color: #A4A4A4; float: left; clear: both; width: 100%; font-size: 13px; text-transform: capitalize; line-height: 2; }
.single .post-info { margin-bottom: 20px }
.post-info a, .single_post .post-info a { color: #A4A4A4 }
.post-info > span:last-child { margin-right: 0 }
.post-info i { margin-right: 3px }
.post-info > span { margin-right: 35px }
.post-info > span:first-child i:before { margin-left: 0 }
.post-label { position: absolute; top: 0; right: 0; padding: 0 15px; line-height: 44px; background: #33BCF2; color: #fff; float: left; }
.post-label svg { float: left; fill: #fff; }
.post-label span { margin-left: 5px; line-height: 21px; }
.no-results .page-content { margin-bottom: 50px; float: left; margin-top: 0; }
/*-[ Search Form ]------------------*/
#searchform { padding: 0; float: left; clear: both; width: 100%; position: relative; }
.article #searchform { max-width: 300px }
#searchform .sbutton, #searchform #searchsubmit { right: 0; top: 0; padding: 9px 0; float: right; border: 0; width: 42px; height: 42px; cursor: pointer; text-align: center; padding-top: 10px; color: #a4a4a4; -webkit-transition: all 0.25s linear; -moz-transition: all 0.25s linear; transition: all 0.25s linear; background: #F47555; fill: #fff; z-index: 10; position: absolute; border: 0; vertical-align: top; text-shadow: none; }
#searchform .icon-search { font-size: 20px; top: 0px; color: #FFF; background: #F47555; position: absolute; right: 0; padding: 0; height: 42px; width: 42px; text-align: center; line-height: 42px; z-index: 100; cursor: pointer; }
#s { width: 100%; background-color: #fff; float: left; padding: 8px 0; text-indent: 10px; color: #a4a4a4; border: 1px solid #fff; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; height: 42px; outline: none; font-size: 14px; }
.site-footer { position: relative; overflow: hidden; clear: both; background: #FFF; -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05); box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05); }
.site-footer { position: relative; overflow: hidden; clear: both; background: #FFF; -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05); box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05); }
.site-info.container { width: 100%; clear: both; padding-bottom: 29px; padding-top: 38px; color: #A4A4A4; font-size: 14px; font-weight: normal; overflow: hidden; }
.copyrights a { color: #A4A4A4; border-bottom: 1px dotted; }
a.toplink { font-size: 40px; line-height: 15px; position: absolute; top: 50%; left: 50%; margin-left: -13px; margin-top: -18px; color: #A4A4A4; }
a.toplink i { line-height: 15px }
.copyrights { float: left }
#navigation.footer-navigation { float: right }
#navigation.footer-navigation ul { list-style-type: none }
#navigation.footer-navigation ul.sub-menu { display: none!important }
#navigation.footer-navigation ul li { display: inline-block; padding-right: 12px; padding-left: 12px; border-right: 1px solid #D2D2D2; line-height: 1; }
#navigation.footer-navigation ul li:last-of-type { border-right: 0; padding-right: 0; }
#navigation.footer-navigation ul li:first-child { padding-left: 0 }
#navigation.footer-navigation ul li:last-child { padding-right: 0; border-right: 0; }
#navigation.footer-navigation ul li a { color: #A4A4A4 }
#navigation.footer-navigation ul li a:after { display: none }
.menu-primary-container li { position: relative }
.menu-primary-container ul.sub-menu { margin: 4px 0 -7px 10px }
/*-----------------------------------
 Responsive
------------------------------------*/
@media screen and (max-width: 1230px) { 
      .main-container, .site-info.container { width: 96% }
      .oddad, .evenad { width: 45% }
}
@media screen and (max-width: 980px) { 
      .site-branding { width: 100%; margin: 0; float: none; text-align: center; }
      #logo { float: none }
      #logo, #logo.text-logo { margin-bottom: 0; margin-top: 15px; }
      #masthead { text-align: left }
      #masthead .header-search { margin-left: 25px; margin-top: 10px; margin-bottom: 20px; }
      .header-social { margin-top: 10px; margin-bottom: 20px; }
      article.latestpost .entry-title { font-size: 22px; line-height: 1.4; }
      .post-info > span { margin-right: 10px }
      .single .entry-header > h1 { font-size: 24px; line-height: 1.4; }
      .postauthor img { padding: 20px; padding-right: 0; padding-bottom: 0; box-sizing: content-box; }
}
@media screen and (max-width: 865px) { 
      .primary-navigation { width: 100%; border: none !important; display: none; }
      .primary-navigation .menu a, .primary-navigation .menu .fa > a, .primary-navigation .menu .fa > a { color: #fff!important; background: transparent; }
      .primary-navigation .menu { display: block!important; float: none; background: transparent; margin-bottom: 45px; }
      .primary-navigation ul ul { visibility: visible!important; opacity: 1!important; position: relative; left: 0!important; border: 0; width: 100%; }
      .primary-navigation ul li li { background: transparent; border: 0; }
      nav.primary-navigation { height: auto }
      nav.primary-navigation li, .primary-navigation ul li li { width: 100%!important; float: left; position: relative; }
      .primary-navigation ul li:after { display: none }
      .primary-navigation ul li:before { display: none }
      nav.primary-navigation li a { border-bottom: 1px solid rgba(0, 0, 0, 0.1)!important; width: 100%!important; box-sizing: border-box; }
      nav.primary-navigation a { text-align: left; width: 100%; text-indent: 25px; }
      a#pull { display: block; width: 100%; position: relative; background: #33bcf2; color: #ffffff; padding: 10px 0; text-indent: 15px; float: left; }
      a#pull:after { content: "\e816"; display: inline-block; position: absolute; right: 15px; top: 10px; font-family: 'sociallyviral'; }
      .primary-navigation ul .sfHover a, .primary-navigation ul li:hover, .primary-navigation ul .sfHover ul li { background: transparent }
      .primary-navigation#navigation ul ul.toggle-submenu { position: static; width: 100%; border-top: 0; box-shadow: none; }
      /*-[ Responsive Navigation ]--------------------------------*/
      .main-container { position: relative; left: 0; transition: left 500ms ease; }
      .mobile-menu-active .main-container { left: 300px; transition: left 500ms ease; }
      .primary-navigation.mobile-menu-wrapper { display: block; position: fixed; top: 0; left: -300px; width: 300px; height: 100%; border-right: 1px solid rgba(0, 0, 0, 0.2); overflow: auto; transition: left 500ms ease; -webkit-backface-visibility: hidden; }
      .mobile-menu-active .primary-navigation.mobile-menu-wrapper { left: 0 }
      .primary-navigation ul li { width: 100%; display: block; }
      .primary-navigation ul li:hover { background: none }
      .primary-navigation ul li a, .primary-navigation ul ul a { padding: 9px 0; width: 100%; border: none; }
      .primary-navigation ul ul { position: static; width: 100%; border: none; }
      .primary-navigation ul ul li { background: none; width: 100%; }
      .primary-navigation i { display: inline }
      .primary-navigation ul ul a { padding: 9px 18px !important }
      .primary-navigation ul ul ul a { padding: 9px 27px !important }
      .primary-navigation ul ul ul ul a { padding: 9px 36px !important }
      .primary-navigation .toggle-caret { display: block; width: 50px; height: 42px; line-height: 42px; color: #ffffff; border-left: 1px solid rgba(0, 0, 0, 0.2); }
      /*.primary-navigation .menu-item-has-children > a:after { content: '' }*/
      .copyrights { float: none; text-align: center; }
      #navigation.footer-navigation { float: none }
      #navigation.footer-navigation ul { text-align: center; width: 100%; margin-top: 10px; }
      a.toplink { top: 13% }
      #content_box { width: 100%; float: none; margin-bottom: 30px; overflow: hidden; }
      article.latestpost .entry-title { font-size: 18px }
      .sidebar.c-4-12 { width: 100%; float: none; margin: 0 auto; }
}
@media screen and (max-width: 768px) { 
      #masthead .header-search { max-width: 46% }
}
@media screen and (max-width: 640px) { 
      article.post, .related-posts article.post { width: 48%; margin-right: 4%; }
      article.post:nth-of-type(2) { margin-right: 4% }
      article.post:nth-of-type(3) { margin-right: 0 }
      article.post:nth-of-type(3n+5) { margin-right: 4% }
      article.post:nth-of-type(odd) { margin-right: 0 }
      article.featuredpost.post { width: 100% }
      .single_post { padding: 20px 15px }
      article.post:nth-of-type(3n) { clear: none }
      article.featuredpost { width: 100% }
      .related-posts article.post:nth-of-type(odd), .search-area article.post:nth-of-type(odd), .content-archive article.post:nth-of-type(odd) { margin-right: 4% }
      .related-posts article.post:nth-of-type(even), .search-area article.post:nth-of-type(even), .content-archive article.post:nth-of-type(even) { margin-right: 0 }
      .related-posts article.post:nth-of-type(4) { clear: none }
      .related-posts #featured-thumbnail, .related-posts .featured-thumbnail { float: none }
      .related-posts .featured-thumbnail img { min-width: 100% }
}
@media screen and (max-width: 550px) { 
      #masthead .header-search { margin-left: 10px }
      .header-social { margin-right: 10px }
      .comment-metadata a { position: static }
}
@media screen and (max-width: 420px) { 
      #masthead .header-search { max-width: 100%; margin-left: 0; padding: 0 30px; margin-bottom: 10px; }
      article.post { width: 100% }
      .featured-thumbnail { max-height: 200px; overflow: hidden; }
      #masthead .header-social { width: 100%; text-align: center; margin-right: 0; padding: 0 30px; }
      .header-social a { display: inline-block; float: none; }
      .related-posts article.post { width: 100% }
}